
<table class="table table-bordered table-hover", style="background-color:LightGray;">
    <thead>
        <tr>
            <td><h3 style="text-align:center; font-size:200%; font-family:verdana; color:DarkSlateGrey;">Titulo</td>
            <td><h3 style="text-align:center; font-size:200%; font-family:verdana; color:DarkSlateGrey;">Ator principal</td>
            <td><h3 style="text-align:center; font-size:200%; font-family:verdana; color:DarkSlateGrey;">Nota</td>
            <td><h3 style="text-align:center; font-size:200%; font-family:verdana; color:DarkSlateGrey;">Ano</td>
            <td><h3 style="text-align:center; font-size:200%; font-family:verdana; color:DarkSlateGrey;">Gênero </td>
            <td colspan="2">
        </tr>
    </thead>
    <tbody>
        <%= render @filmes %>
    </tbody>
</table>