
<table class="table table-bordered table-dark", style="background-color: #333333">
    <thead>
        <tr>
            <td><h3>Titulo</td>
            <td><h3>Diretor(a)</td>
            <td><h3>Nota</td>
            <td><h3>Gênero </td>
            <td><h3>Status </td>
            <td colspan="2">
        </tr>
    </thead>
    <tbody>
        <%= render @filmes %>
    </tbody>
</table>