<% if flash[:notice]%>
    <div class="alert alert-success" role="alert">
        <%= flash[:notice] %>
    </div>
<%end%>


<table class="table table-bordered table-dark">
    <div>
        <img src="https://i.imgur.com/mjT3igf.png" height="250" width="1140" alt="Imagem de mãos e sangue"><p>
    </div>
    <thead>
        <tr>
            <td><h3>Título</h3></td>
            <td><h3 >Diretor(a)</h3></td>
            <td><h3>Ano</h3></td>
            <td><h3>Gênero</h3></td>
            <td><h3>Status</h3></td> 
            <td colspan="2">
        </tr>
    </thead>
    <tbody>
        <%= render @filmes %>
