<% if flash[:notice]%>
    <div class="alert alert-success" role="alert">
        <%= flash[:notice] %>
    </div>
<%end%>


<table class="table table-bordered table-hover", style="background-color:LightGray;">
    <thead>
        <tr>
            <td><h3 style="text-align:center; font-size:200%; font-family:verdana; color:DarkSlateGrey; ">Título</h3></td>
            <td><h3 style="text-align:center; font-size:200%; font-family:verdana; color:DarkSlateGrey; ">Ator Principal</h3></td>
            <td><h3 style="text-align:center; font-size:200%; font-family:verdana; color:DarkSlateGrey; ">Nota</h3></td>
            <td><h3 style="text-align:center; font-size:200%; font-family:verdana; color:DarkSlateGrey; ">Ano</h3></td>
            <td><h3 style="text-align:center; font-size:200%; font-family:verdana; color:DarkSlateGrey; ">Gênero</h3></td>
             <td><h3 style="text-align:center; font-size:200%; font-family:verdana; color:DarkSlateGrey; ">Status</h3></td>
            <td colspan="2">
        </tr>
    </thead>
    <tbody>
        <%= render @filmes %>
    </tbody>
</table>
<div class="alert alert-info" role="alert">
    <h2 style="font-size:200%; font-family:verdana; color:DarkSlateGrey; ">Filmes já vistos </h2>
</div>
<table class="table table-bordered table-hover", style="background-color:LightGray;">
    <thead>
        <tr>
            <td><h3 style="text-align:center; font-size:200%; font-family:verdana; color:DarkSlateGrey;">Titulo</td>
            <td><h3 style="text-align:center; font-size:200%; font-family:verdana; color:DarkSlateGrey;">Ator Principal</td>
            <td><h3 style="text-align:center; font-size:200%; font-family:verdana; color:DarkSlateGrey;">Nota</td>
            <td><h3 style="text-align:center; font-size:200%; font-family:verdana; color:DarkSlateGrey;">Ano</td>
            <td><h3 style="text-align:center; font-size:200%; font-family:verdana; color:DarkSlateGrey;">Gênero </td>
             <td><h3 style="text-align:center; font-size:200%; font-family:verdana; color:DarkSlateGrey; ">Status</h3></td>
            <td colspan="2">
        </tr>
    </thead>
    <tbody>
        <%= render @filmes_assistidos %>
    </tbody>
    
</table>
