<% if flash[:notice]%>
    <div class="alert alert-success" role="alert">
        <%= flash[:notice] %>
    </div>
<%end%>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <td>Titulo</td>
            <td>Ator principal</td>
            <td>Nota</td>
            <td>Ano</td>
            <td>Genero </td>
            <td colspan="2">
        </tr>
    </thead>
    <tbody>
        <%= render @filmes %>
    </tbody>
</table>
<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Filmes com maiores notas </h4>
</div>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <td>Titulo</td>
            <td>Ator principal</td>
            <td>Nota</td>
            <td>Ano</td>
            <td>Genero </td>
            <td colspan="2">
        </tr>
    </thead>
    <tbody>
        <%= render @filmes_com_maior_nota %>
    </tbody>
</table>
