<% if flash[:notice]%>
    <div class="alert alert-success" role="alert">
        <%= flash[:notice] %>
    </div>
<%end%>


<table class="table" >
    <div class="row">
        <div class="col-xs-6 col-md-3">
        <img src="https://i.imgur.com/32Cc7Xz.jpg" height="250" width="1140" alt="Imagem responsiva" ><br>
        </div>
    </div>
</table>
<table class="table table-bordered table-hover", style="background-color:LightGray;">
    <thead>
        <tr>
            <td><h3 style="text-align:center; font-size:200%; font-family:verdana; color:DarkSlateGrey; ">Título</h3></td>
            <td><h3 style="text-align:center; font-size:200%; font-family:verdana; color:DarkSlateGrey; ">Ator Principal</h3></td>
            <td><h3 style="text-align:center; font-size:200%; font-family:verdana; color:DarkSlateGrey; ">Nota</h3></td>
            <td><h3 style="text-align:center; font-size:200%; font-family:verdana; color:DarkSlateGrey; ">Ano</h3></td>
            <td><h3 style="text-align:center; font-size:200%; font-family:verdana; color:DarkSlateGrey; ">Gênero</h3></td>
            <td colspan="2">
        </tr>
    </thead>
    <tbody>
        <%= render @filmes %>
    </tbody>
</table>
<div class="alert alert-info" role="alert">
    <h2 style="font-size:200%; font-family:verdana; color:DarkSlateGrey; ">Filmes com maiores notas </h2>
</div>
<table class="table table-bordered table-hover", style="background-color:LightGray;">
    <thead>
        <tr>
            <td><h3 style="text-align:center; font-size:200%; font-family:verdana; color:DarkSlateGrey;">Titulo</td>
            <td><h3 style="text-align:center; font-size:200%; font-family:verdana; color:DarkSlateGrey;">Ator Principal</td>
            <td><h3 style="text-align:center; font-size:200%; font-family:verdana; color:DarkSlateGrey;">Nota</td>
            <td><h3 style="text-align:center; font-size:200%; font-family:verdana; color:DarkSlateGrey;">Ano</td>
            <td><h3 style="text-align:center; font-size:200%; font-family:verdana; color:DarkSlateGrey;">Gênero </td>
            <td colspan="2">
        </tr>
    </thead>
    <tbody>
        <%= render @filmes_com_maior_nota %>
    </tbody>
</table>
